/*@define-color gmpf_pink rgb(255, 0, 90);*/

@define-color text_color rgb(0, 255, 165);

@define-color button_color rgb(150, 150, 150);
@define-color button_pressed_color rgb(180, 180, 180);

@define-color window_background rgb(110, 110, 110);

/* WINDOW */
window {
    background-color: @window_background;
}

window label {
    color: white;
}

/* COMBOBOX & ENTRY */

combobox, spinbutton {
    border-radius: 5px;
    border-width: 0px;
    border-style: solid;
    border-color: @button_pressed_color;
}

spinbutton {
    color: @text_color;
}

entry {
    border-radius: 5px 0px 0px 5px;
    border-width: 1px;
    background-color: @button_color;
    color: @text_color;
}

/* BUTTON */
button {
    color: white;
    border: none;
    background-image: none;
    background-color: @button_color;
}

#LoadImageChooser > button {
    margin: 10px;
    border-style: hidden;
}

button:hover {
    background-color: @text_color;
}

button:active {
    background-color: @button_pressed_color;
}

toolbar button, #LoadImageChooser > button {
    border-radius: 20px;
}

toolbar.VerticalToolBar button {
    margin-top: 4px;
}

toolbar.HorizontalToolBar button {
    margin-left: 2px;
    margin-right: 2px;
}

button label {
    color: white;
}

/* MENUITEM, TOOLBAR */
menuitem, toolbar {
    background-color: @window_background;
}

menuitem > label {
	color: @text_color;
}

#main_toolbar > * {
    margin-left: 10px;
}

/* DRAW SPACE */
#event {
	background-image: url("grille.png");
}




