#menubar1 menuitem > label {
	color: rgb(0, 255, 165);
}

#menubar2 menuitem > label {
	color: rgb(255, 0, 90);
}

/*menubar menuitem:hover > label {
	color: rgb(255, 255, 255);
}
*/
#scroll {
	background-image: linear-gradient(45deg, rgb(150, 150, 150), rgb(80, 80, 80));
}

#flowwin {
    background-image: linear-gradient(45deg, rgb(0, 255, 165), rgb(100, 255, 200));
}

/* Make some things rounded */
button, entry {
    border-radius: 3;
    border-style: solid;
    border-width: 1;
  }

/*box, button {
	background-color: rgb(50, 50, 50);
}

button {
	border-color: rgb(0, 255, 165);
}*/
